/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/images
/public/data
/storage/*.key
/storage/pail
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public
!/storage/app/public/.gitignore
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
!/storage/framework/cache/data
!/storage/framework/cache/data/.gitignore
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/vendor
.env
.env.backup
.env.production
.env.copy
".env copy"
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
